<p id="notice"><%= notice %></p>

<h1>Repas</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Descritpion</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repas.each do |repa| %>
      <tr>
        <td><%= repa.titre %></td>
        <td><%= repa.descritpion %></td>
        <td><%= repa.date %></td>
        <td><%= link_to 'Show', repa %></td>
        <td><%= link_to 'Edit', edit_repa_path(repa) %></td>
        <td><%= link_to 'Destroy', repa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repa', new_repa_path %>
